.modal {
  position: absolute;
  left: 50%;
  background: #fff;
  transform: translate(-50%, 10%);
  border-radius: 5px;
  width: 450px;
  height: 400px;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  padding: 1.3rem 1rem .6rem 1rem;
  animation-name: modal;
  animation-duration: 5s;
}
.modal__title {
  margin: 0;
}
.modal__img {
  max-width: 80%;
  border-radius: 5px;
}

@keyframes modal {
  0% {
    transform: translate(-250%, 10%);
  }
  25% {
    transform: translate(-50%, 10%);
  }
  75% {
    transform: translate(-250%, 10%);
  }
  100% {
    transform: translate(-50%, 10%);
  }
}

