.modal {
  position: relative;
  left: 50%;
  background: #fff;
  transform: translate(-50%, 10%);
  border-radius: 5px;
  width: 450px;
  height: 400px;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  padding: 1.3rem 1rem .6rem 1rem;
  animation-name: modal;
  animation-duration: 2s;

  &__title {
    margin: 0;
  }

  &__img {
    max-width: 80%;
    border-radius: 5px;
  }
}

.button {
  margin-top: 3rem;
  background-color: #4448DA;
  color: #fff;
  font: normal 15px/17px Poppins, sans-serif;
  padding: 8px 8px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
}

@keyframes modal {
  0% {
    transform: translate(-250%, 10%);
    display: none;
  }
  100% {
    transform: translate(-50%, 10%);
  }
}

.not_modal {
  @extend .modal;
  visibility: hidden;
  animation-name: not_modal;
  animation-duration: 2s;
}

@keyframes not_modal {
  0% {
    transform: translate(-50%, 10%);
  }
  100% {
    transform: translate(-250%, 10%);
    visibility: visible;
  }
}