.sideBar__newsList {
  background-color: var(--darkWhite);
  border-radius: 10px;
  max-width: 270px;
  margin-top: 5px;
  height: max-content;

  &__title {
    font-size: 22px;
    margin: 0;
    padding: 5px 10px 5px 10px;
  }

  &__showMore {
    border: none;
    color: var(--primaryBlue);
    background-color: transparent;
    padding: 10px;
    cursor: pointer;
  }

  &__news {
    display: flex;
    gap: 5px;
    align-items: center;
    padding: 15px 10px;
    border-top: 1px solid #eae5e5;
    cursor: pointer;
    text-decoration: none;

    &__title {
      max-width: 200px;
      font-size: .9rem;
      margin: 0;
    }

    &__img {
      width: 105px;
      height: 70px;
      border-radius: 10px;
    }
  }
}